@charset "UTF-8";
body {
  background: -webkit-linear-gradient(top, #000 0%, #131621 100%);
  height: 100vh;
  overflow: hidden;
}

.cardholder {
  -webkit-filter: grayscale(50%);
  webkit-transition: .5s ease-in-out;
  height: 277px;
  width: 200px;
  position: relative;
  margin: auto;
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
}

.cardholder:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
}

.divider {
  margin: 0.2%;
  background: linear-gradient(90deg, rgba(250,160,255,0), rgba(250,160,255,0.1), rgba(250,160,255,0));
}

.card_slots {
  background: linear-gradient(90deg, rgba(250,160,255,0), rgba(250,160,255,0.1), rgba(250,160,255,0));
  position: relative;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  grid-gap: 10px;
}

.slot_header {
  text-align: center;
  font-size: 120%;
}

.cardframe {
  position:absolute;
  left: 0px;
  width: 100%;
  top:0px;
}

.cardimage {
  left: 1%;
  width: 98%;
  position:absolute;
  top: 1%;
}

.cardname {
  position: absolute;
  left: 0;
  top: 68%;
  height: 10%;
  text-align: center;
  width: 98%;
  font-weight: bold;
  font-size: 160%;
  z-index: 4;
  /*background-color: blue;*/
}

.carddescription {
  position: absolute;
  top: 80%;
  height: 20%;
  left: 0;
  text-align: center;
  width: 95%;
  font-size: 120%;
  /*background-color: green;*/
  z-index: 2;
}

.modal {
  left: 0%;
  top: 0%;
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  margin:  auto;
  vertical-align: middle;
  box-sizing: border-box;
}

.modal h1 {
  padding: 2%;
  width: 100%;
  text-align: center;
  top: 20%;
  font-weight: bold;
  font-size: 3em;
}

.game_logo {
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  position: relative;
  width: 80%;
  margin: 10%;
}

.select_some_cards {
  margin: auto;
  color: white;
  padding-bottom: 1%;
  text-align: center;
  font-style: italic;
  padding-top: 6.7%;
  font-size: 130%;
}

.game_title {
  margin: auto;
  color: white;
  padding-left: 10%;
  padding-right: 5%;
}

.game_description {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 4%;
  margin: auto;
  font-size: 1.4em;
}

